[user]
	email = jmnoynaert@gmail.com
	name = Jared
[alias]
	adog = log --all --decorate --oneline --graph
	dog = log --decorate --oneline --graph
	history = log --graph --abbrev-commit --decorate --date=relative --all
	amend = commit --amend
[push]
	followTags = true
